html{
  font-size:62.5%;
}
body {
    padding:0;
    margin:0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans,Helvetica Neue, sans-serif;
    line-height:1.6;
    font-size: 18px;
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'AcuminPro';
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url('../asset/fonts/Acumin-BdPro.otf') format('otf');
  src: url('../asset/fonts/Acumin-ItPro.otf') format('otf');
}

@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url('../asset/fonts/Helvetica_NeueLTW0693BlkExtObl.ttf') format('otf');
}