.adjust{
    max-width:400px;
    margin-right:38.5%;
    display: flex;
    flex-direction: column;
}

.arrowbox{
    width:136px;
    height:22px;
    display:flex;
    box-shadow: 0.1px 0.1px 2px #24231F;
    border-radius: 4px;

}

.arrowbox:focus,.arrowbox:hover,.arrowbox:active{
    transition:0.1s width ease-in-out,0.1s height ease-in-out;
    cursor:pointer;
    box-shadow: 0.1px 0.1px 4px #24231F;
}

.auto{
    margin-left: auto;
    margin-right: auto;
}

.cardstyle{
    max-width:224px;
    height:453px;
    color:#24231F;
    background-color:white;
    box-shadow: 0.1px 0.1px 3px #24231F;
}

.cardstyle:hover,.cardstyle:active,.cardstyle:focus{
    box-shadow: 0.1px 0.1px 6px #24231F;
    width:260px;
}    

.img1{
    height:214px;
    max-width:214px;
    margin-top: 18px;
}

.play{
    opacity: 0.8;
    color:white;
}

.play:hover,.play:focus{
    opacity:1;
}

.polymorph{
    padding-left:1em;
    position:relative;
    background-color:rgba(12, 11, 11, 0.7);;
    opacity:0.9;
    backdrop-filter:blur(50px);
    border-radius: 5px;
    box-shadow: 0.1px 0.1px 2px rgba(12, 11, 11, 0.7);
}

.polymorph2{
    position:absolute;
    top:33%;
    left:25%;
}

.polymorph:hover,.polymorph2:hover{
    cursor:pointer;
}

.video{
    position: relative;
}

.name2:hover{
    color:blue;
}
/* practice */
.name1::before{
    color:green;
}













/* Spinning loader */
.spin {
    --s-loader-wrapper-bg-color:rgb(21,22,43);
    --s-loader-width:70px;
    --s-loader-height:var(--s-loader-width);
    --s-loader-border-color-trans:rgba(29,161,243,0.2);
    --s-loader-border-color-full:rgb(29,161,242);
}

.spinningloader {
    width:var(--s-loader-width);
    height:var(--s-loader-height);
    border:2px solid var(--s-loader-border-color-trans);
    border-left-color:var(--s-loader-border-color-full);
    border-radius: 50%;
    background: transparent;
    animation-name:rotate-s-loader;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function:linear;
    position:relative;
}
@keyframes rotate-s-loader {
    0% {
        transform:rotate(0);
        border-left-color:transparent;
        border-top-color:var(--s-loader-border-color-full);
    }
    75%{
        transform: rotate(270deg);
        border-top-color:var(--s-loader-border-color-full);
        border-left-color:var(--s-loader-border-color-full);
    }
    100% {
        transform:rotate(360deg);
        border-left-color:var(--s-loader-border-color-full);
        border-top-color:var(--s-loader-border-color-full);


    }
}
/* Nice spinning 👌 */

/* Progress bar */

.circular{
    height:100px;
    width:100px;
    position:relative;
    border: solid green 1px;
    transform:scale(2);
}

.inner{
    position:absolute;
    z-index:6;
    top:50%;
    left:50%;
    height:80px;
    width:80px;
    margin: -40px 0 0 -40px;
    background: #dde6f0;
    border-radius: 100%;
}

.number{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index: 10;
    font-size:18px;
    font-weight: 500;
    color:#4158d0;
}

.circular .bar{
    position:absolute;
    height:100%;
    width: 100%;
    background: #fff;
    border-radius:100%;
    -webkit-border-radius:100%;
    clip:rect(0px, 100px, 100px, 50px)

}

.progress{
    position:absolute;
    height:100%;
    width:100%;
    border-radius:100%;
    -webkit-border-radius:100%;
    clip:rect(0px, 50px, 100px,0px);
    background:#4158d0;
}
.left .progress{
    z-index: 1;
    animation: left 4s linear both;
}

@keyframes left{
    100%{
        transform:rotate(180deg);
    }
}

.circle .right{
    transform:rotate(180deg);
    z-index:3;
}

.circle .right .progress{
    animation:right 4s linear both;
    animation-delay:4s;
}

@keyframes right{
    100%{
        transform:rotate(180deg);
    }
}
/* End of progress bar */